.borderhome {
    border: 1px solid #dbe0e8;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    background: #fff;
    overflow: hidden;
}
.wp980 {
    width: 1040px;
    margin: 0 auto;
}
.w300 {
    width: 300px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.contentleft {
    padding-right: 20px;
    border-right: solid 1px #ededed;
    float: left;
    width: 700px;
    margin-top: 7px;
}
.contentright {
    width: 300px;
    float: right;
    margin-top: 10px;
}
.noibat {
    width: 100%;
    display: inline-block;
}
.noibat ul li {
    position: relative;
    display: inline-block;
}
.noibat .noibat2 {
    background: #ecf8ff;
    width: 100%;
    float: left;
}   
.noibat .noibat2 img {
    width: 380px;
    height: 238px;
}
.noibat .noibat2 h2 {
    width: 100%;
    background: #fff;
    font: normal 23px/29px Roboto-Bold;
    font-weight: bold;
    color: #383838;
    padding-bottom: 15px;
}
.noibat .noibat2 h2 a {
    color: #1c1c1c;
}
.noibat .noibat2 .infohl {
    float: left;
    margin-right: 24px;
    margin-left: 24px;
    width: 272px;
    margin-top: 20px;
}
.noibat .noibat2 p {
    font-weight: normal;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    line-height: 19px;
    color: #737373;
}
.noibat .normal {
    margin-top: 31px;
    width: 220px;
    float: left;
    margin-right: 20px;
}
.noibat .last {
    margin-right: 0;
}
.noibat .normal img {
    width: 220px;
    height: 138px;
}
.noibat .normal h2 a {
    color: #060606;
    display: inline-block;
    font-family: Roboto-Medium;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    font-weight: normal;
}
.contentBreak{    
    background: #a40e0e;
    width: 100%;
    height: 2px;
    display: block;
    margin-top: 0;
    margin-bottom: 6px;
}
.show_popup {
    position: relative;
}
.list_home {
    width: 100%;
    display: inline-block;
}
.listTiemLine ul li {
    display: inline-block;
    width: 100%;
    padding-bottom: 28px;
    margin-top: 27px;
    border-bottom: 1px dotted #ccc;
}
.listTiemLine ul li img {
    width: 260px;
    height: 163px;
    float: left;
    margin-right: 20px;
    border-radius: 3px;
}
.listTiemLine ul li h3 a {
    font-size: 20px;
    line-height: 25px;
    color: #1d1d1d;
    margin-top: -4px;
    display: block;
    font-weight: normal;
    font-family: Roboto-Bold;
}
.listTiemLine ul li p {
    color: #404f5d;
    font-weight: normal;
    margin-top: 9px;
    font-size: 14px;
    font-family: Roboto-Medium;
}
.listTiemLine ul li p.cate a {
    color: #6b7179;
    font: normal 12px Roboto-Medium;
}
.listTiemLine ul li p .time {
    font-weight: normal;
    color: #929292;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: Arial;
}
.listTiemLine ul .boxnhung {
    border: none;
    padding-bottom: 0;
    margin-top: -6px;
}
.listTiemLine ul .boxnhung .boxnhungslide {
    margin-top: 15px;
    padding-top: 36px;
    border-top: solid 1px #eaeaea;
    background: linear-gradient(to right,#fff,#f6f6f6,#f6f6f6,#f6f6f6,#fff);
    width: 100%;
    float: left;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother {
    display: flex;
    border-bottom: none;
    padding-top: 9px;
    background: linear-gradient(to right,#fff,#f6f6f6,#f6f6f6,#f6f6f6,#fff);
    width: 700px;
    border-top: none;
    position: relative;
    z-index: 1;
}
.gachcham {
    width: 100%;
    height: 31px;
    padding-top: 0;
    margin-top: 0;
    background: linear-gradient(to right,#fff,#f1f1f1,#fff);
    border-bottom: solid 1px #eaeaea;
}
.listTiemLine ul .boxnhung .boxnhungslide .tab {
    color: #949698;
    width: 157px;
    height: 21px;
    background: #f6f6f6;
    text-align: center;
    font: normal 12px/23px Arial;
    border-radius: 32px;
    position: absolute;
    z-index: 10;
    top: -21px;
    left: 40%;
}
.listTimeLine ul li h3 a {
    font-size: 20px;
    line-height: 25px;
    color: #1d1d1d;
    margin-top: -4px;
    display: block;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item {
    border: solid 1px #eaeaea;
    width: 229px;
    margin-right: 17px;
    position: relative;
    background-color: #fff;
    float: left;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item .catlink {
    width: 100%;
    height: 27px;
    display: block;
    box-sizing: border-box;
    color: #989898;
    font: normal 11px/10px Arial;
    padding: 8px 15px 15px;
    text-transform: uppercase;
    background: #1e2024;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item img {
    width: 100%;
    height: auto;
    border-radius: 0;
    float: none;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item h3 {
    padding: 15px 15px 11px 15px;
    padding-bottom: 38px;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother h3 a {
    color: #191919;
    font: normal 14px/20px Roboto-Medium;
    padding-bottom: 5px;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item .lableandview {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.listTiemLine ul .boxnhung .boxnhungslide .newsother .item .lableandview .view {
    color: #8b8b8b;
    font: normal 12px/21px Arial;
    padding-left: 3px;
    position: relative;
    display: block;
    text-transform: lowercase;
}
.listTiemLine ul li.boxnhung .boxnhungslide .newsother .item .lableandview .lable {
    position: relative;
    color: #8ca0af;
    font: normal 12px/18px Arial;
    background-color: #fff;
    padding: 0 0 0 5px;
}
.mostviewandnhipdap {
    width: 100%;
    position: relative;
    float: left;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
}
.nhipdapthitruong {
    width: 400px;
    float: left;
    position: relative;
    z-index: 1;
    padding-top: 14px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-right: 1px solid #e1e1e1;
    background: #f4f4f7;
}
.nhipdapthitruong .tab {
    padding-left: 25px;
    margin-top: 2px;
    font: normal 21px RobotoCondensed-Bold;
}
.nhipdapthitruong .listnhipdap {
    float: left;
    position: relative;
    padding-bottom: 20px;
}
.nhipdapthitruong .listnhipdap ul {
    position: relative;
    z-index: 1;
}
.nhipdapthitruong .listnhipdap ul li {
    margin-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.nhipdapthitruong .item {
    float: right;
    margin-top: 16px;
    padding-top: 18px;
    position: relative;
    width: 100%;
}
.nhipdapthitruong .item:first-child {
    margin-top: 11px;
}
.nhipdapthitruong .item h3 {
    margin-top: -4px;
}
.nhipdapthitruong .item h3 a {
    color: #0e4a81;
    font: normal 13px/18px Roboto-Medium;
    margin-top: -4px;
    display: block;
}
.nhipdapthitruong .xemchitietdcb {
    color: #8e8e8e;
    font-family: Arial;
    font-size: 11px;
    display: block;
    clear: both;
    text-align: center;
    font-style: unset;
    position: relative;
    padding-top: 12px;
    margin-right: 20px;
    bottom: 10px;
    right: 0;
    width: 100%;
}
.nhipdapthitruong .xemchitietdcb span {
    letter-spacing: -2px;
    margin-left: 4px;
}
.mostview {
    width: 300px;
    float: left;
    margin-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
.mostview .item {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.mostview .item .boxtitle {
    background: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    color: #8d93a7;
    position: absolute;
    font-size: 11px;
    z-index: 100;
    top: 126px;
    left: 8px;
}
.mostview .item img, .mostview .item video.lozad-video {
    width: 100%;
    height: auto;
}
.mostview h3 {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    text-align: left;
    z-index: 10;
    padding: 12px 0 5px;
    box-sizing: border-box;
    margin-top: -33px;
}
.mostview h3 a {
    color: #2b2b2b;
    display: block;
    font: normal 14px/19px Roboto-Bold;
    margin-bottom: 5px;
}
.mostview h3 span {
    color: #81848a;
    font: normal 11px Arial;
}
.nhipdapthitruong .item h3 a:last-child {
    margin-left: 22px;
}
.nhipdapthitruong .item h3 a {
    color: #0e4a81;
    font: normal 13px/18px Roboto-Medium;
}
.sprite_adm {
    background: url(https://cafefcdn.com/web_images/sprite_adm.png) no-repeat;
}
.icon_hot {
    background-position: -16px -0px;
    width: 29px;
    height: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
}
#DanhChoBan .icon_hot {
    margin-top: 3px;
}
.icon_news {
    background-position: -121px 0;
    width: 32px;
    height: 12px;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
}
.nhipdapthitruong .icon_news {
    margin-top: 3px;
}
.mostview .item img {
    width: 100%;
    height: auto;
}
.docnhieuandcauchuyenthuonghieu {
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: relative;
    float: left;
    display: block;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur {
    width: 418px;
    padding-right: 25px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    float: left;
    position: relative;
    padding-top: 15px;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur .tab {
    padding-left: 24px;
    margin-bottom: 14px;
    padding-top: 3px;
    color: #292828;
    font: normal 17px/23px RobotoCondensed-Bold;
    position: relative;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li {
    width: 185px;
    float: left;
    border: none;
    margin-top: 0;
    padding-bottom: 18px;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li:first-child {
    width: 100%;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li a:first-child {
    display: block;
    width: 100%;
    overflow: hidden;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li img {
    width: 100%;
    height: auto;
    margin-right: 0;
    border-radius: 0;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li .chth_avabottom {
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    padding: 7px;
    background-color: #111;
    overflow: hidden;
    margin-bottom: 10px;
}
.thuonghieur .chth_avabottom span {
    float: right;
    font: normal 11px/23px Arial;
    margin-left: 10px;
    color: #9e9e9e;
    display: block;
}
.thuonghieur .chth_avabottom .btcat {
    display: block;
    float: right;
    padding: 0 5px;
    color: #737373;
    border: 1px solid #424242;
    background-color: #222;
    margin-top: 1px;
    border-radius: 2px;
    font: normal 11px/18px Arial;
    margin-left: 10px;
}
.icon_bighot {
    background-position: -82px -0px;
    width: 36px;
    height: 15px;
    float: left;
    margin-right: 7px;
    margin-top: 6px;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li h3 a {
    font: normal 15px/20px Roboto-Bold;
    color: #181717;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li:first-child h3 a {
    color: #111;
    font: normal 21px/26px Roboto-Bold;
}
.docnhieuandcauchuyenthuonghieu .thuonghieur ul li:last-child {
    margin-left: 22px;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel {
    position: relative;
    box-sizing: border-box;
    width: 282px;
    float: left;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .tab {
    color: #292828;
    background: #fff;
    padding: 17px 20px 20px 43px;
    font: normal 17px/23px RobotoCondensed-Bold;
    position: relative;
    height: 54px;
    box-sizing: border-box;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .dnlist {
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item:first-of-type {
    border-top: 1px solid #dbdfe6;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item:last-child {
    border-bottom: none;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item {
    width: 100%;
    float: left;
    padding: 15px 0;
    border-bottom: 1px solid #dbdfe6;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item h3 {
    margin-top: -3px;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item h3 a {
    color: #1b1b1b;
    font: normal 14px/19px Roboto-Medium;
    display: block;
    margin-bottom: 3px;
}
.docnhieuandcauchuyenthuonghieu .docnhieuhomel .item .view {
    font: normal 11px arial;
    color: #999;
}